<div class="text-center mt-4">
  <div id="border" class="d-inline-block">
    <h1>Movie Stream</h1>
  </div>
  <div class="mt-4">
    <h3>Benvenuto nella nostra piattaforma di streaming video!</h3>
    <h3>
      Per usufruire dei nostri servizi
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">
        accedi
      </a>
      oppure
      <a
        [routerLink]="['/registrazione']"
        routerLinkActive="router-link-active"
      >
        registrati
      </a>
    </h3>
  </div>
</div>
