<div class="container">
  <div class="card">
    <h1>Registrati</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="label-float">
        <input type="text" id="name" placeholder="" formControlName="name" />
        <label for="name">Nome</label>
      </div>

      <div class="label-float">
        <input type="email" id="email" placeholder="" formControlName="email" />
        <label for="email">Email</label>
      </div>

      <div class="label-float">
        <input
          type="password"
          id="password"
          placeholder=""
          formControlName="password"
        />
        <label for="password">Password</label>
      </div>

      <div class="justify-center">
        <button type="submit" class="btn btn-primary btn-lg text-center">
          <span>Registrati</span>
        </button>
      </div>
    </form>

    <div>
      <hr class="hr" />
    </div>

    <p>
      Hai già un account?
      <a [routerLink]="['/login']" routerLinkActive="router-link-active"
        >Accedi</a
      >
    </p>
  </div>
</div>
